@font-face {
  font-family: "sans-serif";
  src: url("fonts_contactanos/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts_contactanos/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("fonts_contactanos/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("fonts_contactanos/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("fonts_contactanos/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("fonts_contactanos/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.712)),
    url("img_contactanos/10.jpg");

  background-size: cover;

  margin: 0;
  font-family: "sans-serif";
}

/* FORMULARIO =================================== */

.form_wrap {
  width: 1000px;
  height: 450px;
  margin: 40px auto;
  display: flex;

  background: rgba(58, 56, 56, 0.541);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(39, 39, 39, 0.541);
}

/* Informacion de Contacto*/

.cantact_info::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: #1f1f1fa9;
  opacity: 0.9;
}

.cantact_info {
  width: 38%;
  position: relative;
  font-family: "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(141, 138, 138);
  background-size: cover;
  background-position: center center;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
}

.info_title {
  margin-bottom: 60px;
}

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.info_title h2 {
  font-size: 35px;
  text-align: center;
}

.info_items p {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px;
}

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px;
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #eeeeee;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form.form_contact label {
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #ffffff;

  font-family: "sans-serif";
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="submit"] {
  width: 180px;
  background: #ec2626;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="submit"]:hover {
  background: #d14f4f;
}

/* Ventana de errores*/
.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal {
  color: #fff;
  background: rgba(0, 0, 0, 0.664);
  box-shadow: 0px 0px 15px rgba(255, 40, 40, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

.mensaje_modal h3 {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ec2626;
  margin: 10px 0px 15px;
}

.mensaje_modal p {
  font-size: 16px;
  color: #ffffff;
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  color: #e25151;
  margin-right: 8px;
}

#btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background: #e25151;
  color: #fff;
  border: 2px solid #b14141;
  cursor: pointer;
  float: right;
}
.Fields {
  background-color: #00000000;
  font-family: sans-serif;
}
.mensaje-exito {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mensaje-exito h1 {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.mensaje-exito a {
  font-family: sans-serif;
  display: block;
  padding: 6px 21px;
  background: #e25151;
  text-decoration: none;
  color: #fff;
}

.mensaje-exito a:hover {
  background: #d67c7c;
}
